/** main code **/

*{
    margin: 0;
    padding: 0;
    font-family: cairo;
        box-sizing: border-box;

    scroll-behavior: smooth;
    text-decoration: none;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
p{
    font-size: 16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
::-webkit-scrollbar{
    width: 0;
}

/** some transitions **/

@keyframes fade{
    0%{
        opacity: 0;
    }
      10%{
        opacity: 0.1;
    }  20%{
        opacity: 0.2;
    }  30%{
        opacity: 0.3;
    }  40%{
        opacity: 0.4;
    }  50%{
        opacity: 0.5;
    }  60%{
        opacity: 0.6;
    }  70%{
        opacity: 0.7;
    }  80%{
        opacity: 0.8;
    }  90%{
        opacity: 0.9;
    }  100%{
        opacity: 1;
    }
}
@keyframes move{
    from{
        transform: scale(0.7);
    }
    to{
        transform: scale(1);
    }
}

/**header**/

#header{
      display: flex;/**لو عايز تخليهم في النص امسح اول ستر  وي حط ال/ img جوا الnav **/
    align-items:center;
    justify-content: space-between;
    padding: 20px 80px;
    width: 100%;
    background: #F5F5F5;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;
}

.logo{
    width: 50px;
    animation: move 0.5s linear;
}
/** nav bar **/
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
#nav-bar i{
    font-size: 20px;
}
#nav-bar li{
    display: flex;
    position: relative;
    list-style: none;
    padding: 0 20px;
}
#nav-bar li a{
    text-decoration: none;
    color: #06283D;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
}
#nav-bar li a:hover,#nav-bar li a.active{
    color: #1363DF;

}


/** hero section **/

#hero{
    background-image: url(images/back.jpg);
    background-position: center;
    background-size: cover;
    height: 90.2vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    background-attachment: fixed;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#hero h4{
    color: white;
    padding-bottom: 15px;
    animation: fade 3s linear;

}
#hero h1{
    color: #1363DF;    
    animation: fade 1s linear;

}
#hero h2{
    animation: fade 1s linear;

}
#hero p{
    color: white;
    animation: fade 1s linear;
}
#hero a{
    animation: fade  1s linear;
    background-color: #1363DF;/**#088178*/
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top:15px;
    padding-bottom:15px;
    align-items: center;
    border-radius: 10px;
    border: #1363DF solid 3px;
    transition: 1s ease-in-out;
    cursor: pointer;
}
#hero a:hover{
    background-color: transparent;
    color: white;
}

/** fauture **/
#fauture{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: move 0.7s linear;
    transition: ease;
}
#fauture .fe-box{
    width:180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.08);
    border:5px solid #f5f5f5;
    border-radius: 5px;
    margin: 15px 0;
    transition: 1s ease;
}
#fauture .fe-box:hover{
    transform: scale(1.1);
}
#fauture .fe-box img{
    width:100%;
    margin-bottom: 10px;
}
#fauture .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background-color:#1363DF; 
}
/** product1 **/
#product1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #06283D;
}
#manager{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

#product1 .pro-container {
display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: fade 1.5s linear;
}
#manager .pro-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: fade 1.5s linear;
}

#product1 h2{
    padding-bottom: 30px;
    color: #47B5FF;
    text-align: left;
}
#manager h2{
    padding-bottom: 30px;
    color: #1363DF;
    text-align: left;
}

#product1 p{
    color: white;
    text-align: right;
}
#manager p{
    color: #06283D;
    text-align: right;
}

#product1 .pro{
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid #f5f5f5;
    border-radius: 25px;
    background: white;
    box-shadow: 20px 20px 34px rgba(255,255,255,0.3);
    margin: 15px 0;
    transition: 0.2s ease;
}
#manager .pro1{
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border: 5px solid #DFF6FF;
    border-radius: 25px;
    background: white;
    box-shadow: 20px 20px 34px rgba(0,0 , 0,0.200);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#manager .pro1 .ima{
    width: 35%;
    border-radius: 50%;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#manager.pro1 .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #0606063;
    font-size: 12px;
}
#manager .pro1 .des span{
    color: #101010;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color:black ;
    font-size: 14px;
}
#manager .pro1 .des h5 {
    padding-top: 7px;
    color:#1363DF;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgba(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#1363DF;
}
#manager .pro1 .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#06283D;
}

/** contact **/

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #06283D;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span{
    font-size: 12px;
    color: white;
}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    color: #47B5FF;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
    color: white;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    color: #47B5FF;
    font-size: 14px;
    padding-left: 22px;
}
#contact-details .details li p{
    margin: 0;
    color: white;
    font-size: 14px;
}

/** about us **/

.about-container {
  background: white;
}
.about-us {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.about-us .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-content h2 {
  color: #1363DF;
}
.about-content p {
  margin-top: 1rem;
  width: 80%;
  color: #06283D;
}
.about-us img{
    width: 350px;  
}


/** footer **/

footer{
    border: 2px #DFF6FF solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
        animation:  fade 2s linear;

}
footer .logo{
     margin-bottom: 30px;
    animation:  move 10s linear;
}
footer h4{
    font-size: 18px;
    padding-bottom: 20px;
        animation:  fade 2s linear;

}
footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
    color:#6D8299;
        animation:  fade 2s linear;

}
footer .follow{
    margin-top: 20px;
    animation:  fade 2s linear;
}
footer .follow i{
    color:#1363DF;
    font-size: 30px;
        animation:  fade 2s linear;

}
footer .col-payment img{
    animation:  fade 5s linear;
    width: 150px;
    border: 2.5px black solid;
    border-radius: 25px;
}

/** responsive **/
#header .fa{
    display: none;
}
#header .fas{
    display: none;
    }
@media (max-width: 1000px){
    /** main code**/
    
    .section-p1{
        padding: 40px 40px;
    } 
    
    /** header and nav-bar **/
    #nav-bar{
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: right;
    z-index: 2;    
    background: white;
    padding: 30px;
    display: none;
    }
    #nav-bar li{
        padding: 15px;
    }
    #header .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    #header .fas{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    /** hero **/

    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 20%;
    }
    
    /** feature **/
    
    #fauture{
        justify-content: center;
    }
    
    #fauture .fe-box{
        margin: 15px 15px;
    }
    
    /** product1 **/
    
     #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    } 
    #manager .pro-container{
        justify-content: center;
    }
    #manager .pro1{
        margin: 15px;
    } 
    /** about us **/
    
    .about-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    .about-us img{
        display: none;
    }
    .about-content p{
        font-size: 16px;
    }
    
    /** contact **/
    
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
         width: 100%;
        height: 100%;
    }
    #contact-details .map iframe{
        height: 100%;
        width: 100%;
    }
}
@media (max-width:799px){
    /** main code**/
    
    .section-p1{
        padding: 40px 40px;
    } 
    
    /** header and nav-bar **/
    #nav-bar{
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 2;    
    background: white;
    }
    #nav-bar li{
        display: block;
}
    /** hero **/

    #hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 20%;
    }
    
    /** feature **/
    
    #fauture{
        justify-content: center;
    }
    
    #fauture .fe-box{
        margin: 15px 15px;
    }
    
    /** product1 **/
    
     #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 15px;
    } 
    
    #manager .pro-container{
        justify-content: center;
    }
    #manager .pro1{
        margin: 15px;
    } 
    /** about us **/
    
    .about-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    .about-us img{
        display: none;
    }
    .about-content p{
        font-size: 16px;
    }
    
    /** contact **/
    
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
         width: 100%;
        height: 100%;
    }
    #contact-details .map iframe{
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 477px){
    /** main code **/
    
    .section-p1{
        padding: 20px 20px;
    }
    h1{
        font-size: 38px;
    }

    h2{
        font-size: 32px;
    }
    
    /** header and nav **/
    
    #header{
        padding: 10px 30px;
    }
    #nav-bar{
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 2;    
    background: white;
    }
    #nav-bar li{
        display: block;
}
    /** hero **/
    
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    
    /** feature **/
    
    #fauture{
        justify-content: center;
    }
    #fauture .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #fauture .fe-box h6{
        font-size: 10.2px;
    }
    
    /** product1 **/
    
    #product1 .pro{
        width: 100%;
    }
    #manager .pro1{
        width: 100%;
    }
    
    /** about us **/
    .about-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    .about-content p{
        font-size: 14px;
    }
  
    .about-us img{
        display: none;
    }
    
    /** contact **/
    
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
         width: 100%;
    }
    
}
@media (max-width: 280px){
       /** main code **/
    
    .section-p1{
        padding: 10px 10px;
    }
    h1{
        font-size: 28px;
    }

    h2{
        font-size: 22px;
    }
    
    /** header and nav **/
    
    #header{
        padding: 5px 20px;
    }
    #nav-bar{
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    left: 0;
    text-align: right;
    z-index: 2;    
    background: white;
    }
    #nav-bar li{
        display: block;
}
    /** hero **/
    
    #hero{
        padding: 0 10px;
        background-position: 55%;
    }
    
    /** feature **/
    
    #fauture{
        justify-content: center;
    }
    #fauture .fe-box{
        width: 145px;
        margin: 0 0 7.5px 0;
    }
    #fauture .fe-box h6{
        font-size: 10px;
    }
    
    /** product1 **/
    
    #product1 .pro{
        width: 100%;
    }
    #manager .pro1{
        width: 100%;
    }
    
    /** about us **/
    .about-content {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    .about-content p{
        font-size: 11.2px;
    }
  
    .about-us img{
        display: none;
    }
    
    /** contact **/
    
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 20px;
    }
    #contact-details .map{
         width: 100%;
    }
    #contact-details span{
        font-size: 10px;
    }
}